.SignIn {
    padding: 20px;
    margin: 20px 50px 50px 50px;
    background-color: #f2f2f2;

    .signinInfo {
        margin-top: 20px;
    }
    .signinForm {
        alignment: center;
        margin: 20px;

        .formDetails {
            padding: 20px;
        }
    }
}
