.autocomplete {
  position: relative;
  display: inline-block;
  font-size: 12px;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  opacity: 1;
  transform: none;
  min-width: 100%;
  transition: opacity 387ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 258ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  top: 37px;
  left: 0;
  transform-origin: 0 134.55px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.autocomplete-items div {
  padding: 15px 10px 15px 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #707070;
}
/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: #333333 !important;
}

.light_a {
  background-color: white;
  color: black;
}

.dark_a {
  background-color: #333;
  color: white;
}
