.dashboard {
  margin-left: 10px;

  .cardContainer {
    padding: 10px;
    margin-top: 10px;
  }

  .hiddenVendors {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    padding: 20px;
  }

  .hidden {
    height: 30px;
  }

  .div_sec {
    margin: 0;
    padding: 10px 0 10px 5px !important;
    display: flex;
    alignment: top;
  }

  .light_sec {
    border: 1px solid #ccc;
  }

  .dark_sec {
    border: 1px groove #787777;
  }

  .fourth {
    margin-left: 5px;
    margin-top: 5px;
  }

  .gps {
    height: fit-content;
    display: flex;
    margin-top: 32px;
    margin-left: -57px;
  }

  .filters {
    margin-top: 20px;
  }

  .filterButton {
    margin-top: 25px;
  }

  .search {
    font-weight: bold;
    padding: 5px;
    width: fit-content;
    height: fit-content;
  }

  .number_shape {
    width: 20px;
    height: 20px;
    background-color: #32c5d2;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
  }
}
