:root {
  --ghost-white: #f5f6fb;
  --curious-blue: #297fca;
  --navy-blue: #0074e9;
  --alice-blue: #e4f1fd;
  --revolver: #353540;
  --milled-wine: #514e5e;
  --deep-sky-blue: #05a5f0;
  --dodger-blue: #008ded;
  --spun-pearl: #a5a5aa;
  --gainsboro: #dcdcdc;
  --bittersweet: #ff6058;
  --medium-slate-blue: #6d58ff;
  --butterly-bush: #694a91;
  --black-pearl: #1a262c;
  --gray-96: #f5f5f5;
  --dark-pastel-green: #16ab2b;
  --dark-theme: #121212;
}
